@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Hotel Management System";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This application manages Hotel room reservation tasks.</p>
