@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Sunmathi Technologies";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Bangalore 560032<br />
    Karnataka<br />
    <abbr title="Phone">P:</abbr>
    +91 99000 88260
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@sunmathitech.com">support@sunmathitechnologies.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@sunmathitech.com">marketing@sunmathitechnologies.com</a>
</address>
